header {
  height: 12vh;
  width: 100%;
  font-family: 'Mada', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .logo {
    width: auto;
    height: 8vh;
    padding-left: 70px;
    padding-top: 5px; }
  header nav {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin-right: 20px; }
    header nav label {
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      height: 70px;
      width: 70px;
      cursor: pointer;
      z-index: 1; }
    header nav > label > span {
      display: block;
      margin: 4px auto;
      height: 4px;
      width: 25px;
      border-radius: 1px;
      background: #263150;
      transition: 0.5s; }
      header nav > label > span:nth-child(1) {
        margin-top: 40px; }
  header a {
    list-style: none;
    text-decoration: none;
    color: #263150; }
  header .menu {
    position: relative;
    margin-top: 6px;
    float: right;
    list-style-type: none;
    transition: top 0.5s cubic-bezier(0.3, 0.1, 0.3, 0.85); }
    header .menu li {
      font-family: 'Mada', sans-serif;
      color: #ede4e4;
      font-size: 2.5rem;
      display: inline;
      margin-right: 30px;
      cursor: pointer;
      font-weight: 500; }
      header .menu li:hover::before {
        width: 49px;
        color: #ede4e4; }
      header .menu li:nth-child(3):hover::before {
        width: 63px; }
      header .menu li a {
        text-decoration: none; }
        header .menu li a:hover {
          color: #212020;
          text-decoration: none; }
  header input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px; }
    header input[type=checkbox]:checked ~ .menu {
      top: 0; }
    header input[type=checkbox]:checked ~ label span {
      background: #4b77c4; }
      header input[type=checkbox]:checked ~ label span:nth-child(1) {
        transform: translateY(8px) rotate(45deg); }
      header input[type=checkbox]:checked ~ label span:nth-child(2) {
        opacity: 0; }
      header input[type=checkbox]:checked ~ label span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); }

/*--- EFECTOS HOVER --- */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.hvr-shutter-out-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-shutter-out-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #de8843;
  border-radius: 10px;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
  color: white; }

.hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1); }

/*--- RESPONSIVE MEDIA QUERY ----*/
@media only screen and (max-width: 800px) {
  header {
    height: 5vh; }
    header .logo {
      height: 3.8em; } }

@media (max-width: 1093px) {
  header .logo {
    padding-left: 10px; }
  header .menu {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: -100vh;
    left: 0;
    height: 40vh;
    width: 100%;
    z-index: 99;
    background-color: #de8843; }
    header .menu li {
      margin: 8px;
      font-size: 1.2em;
      color: #fff; } }
    @media (max-width: 1093px) and (min-width: 1281px) {
      header .menu li {
        margin: 20px;
        font-size: 1.8em; } }

@media (max-width: 1093px) {
  header nav label {
    display: block;
    z-index: 100; } }

/* ------------- FOOTER ------------- */
.site-footer {
  background-color: #263150;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #a7a3a3;
  height: auto; }
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5; }
  .site-footer hr.small {
    margin: 20px 0; }
  .site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px; }
  .site-footer .social-icons {
    text-align: right; }
    .site-footer .social-icons a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-left: 6px;
      margin-right: 0;
      border-radius: 100%;
      background-color: #a7a3a3; }

.footer-links {
  padding-left: 0;
  list-style: none; }
  .footer-links li {
    display: block;
    cursor: pointer; }
    .footer-links li:hover {
      color: #676363; }

.footer-links.inline li {
  display: inline-block; }

.copyright-text {
  margin: 0; }

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .social-icons li {
    display: inline-block;
    margin-bottom: 4px; }
  .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #a7a3a3;
    font-weight: 700;
    font-size: 13px; }
  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
    .social-icons a:active {
      color: #fff;
      background-color: #29aafe; }
    .social-icons a:focus {
      color: #fff;
      background-color: #29aafe; }
    .social-icons a:hover {
      color: #fff;
      background-color: #29aafe; }
  .social-icons a.instagram:hover {
    background-color: #e95950; }
  .social-icons a.twitter:hover {
    background-color: #00aced; }
  .social-icons a.linkedin:hover {
    background-color: #007bb6; }

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px; }

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0; }
    .site-footer .copyright-text {
      text-align: center; }
    .site-footer .social-icons {
      text-align: center; }
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600; } }

/*----------- FORMULARIO CONTACTANOS ----------*/
#formContactanos {
  display: none; }
  #formContactanos .recibilaEnCasa {
    font-family: "Mada", sans-serif;
    font-size: 3rem;
    color: #263150; }
    @media (min-width: 1281px) {
      #formContactanos .recibilaEnCasa {
        font-size: 4rem; } }

#form-contacto {
  width: 85%;
  max-width: 680px;
  margin: 2rem auto 3rem; }
  @media (min-width: 1281px) {
    #form-contacto {
      width: 100%;
      margin: 5rem auto 4rem;
      max-width: 680px; } }
  #form-contacto .conjuntoCampos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    #form-contacto .conjuntoCampos .inputgroup {
      position: relative;
      flex: 3 0 220px;
      margin: 2rem 1rem .8rem; }
      #form-contacto .conjuntoCampos .inputgroup label {
        position: absolute;
        top: 1.2rem;
        left: 0.8rem;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        color: #263150;
        font-size: 1.5rem;
        letter-spacing: 0.1em;
        line-height: 1;
        -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1); }
      #form-contacto .conjuntoCampos .inputgroup input,
      #form-contacto .conjuntoCampos .inputgroup textarea {
        box-sizing: border-box;
        height: 65px;
        width: 100%;
        border: 0;
        border-bottom: 3px solid #263150;
        border-radius: 3px;
        outline: none;
        padding: .4rem 0 0 1.2rem;
        color: #0f1010;
        font-family: "Kanit", sans-serif;
        font-size: 1.5rem;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease; }
        @media (min-width: 1281px) {
          #form-contacto .conjuntoCampos .inputgroup input,
          #form-contacto .conjuntoCampos .inputgroup textarea {
            font-size: 2rem; } }
    #form-contacto .conjuntoCampos .inputgroup.active label {
      color: #4b77c4;
      font-size: 1.3rem;
      left: 0.4rem;
      top: 0.36rem; }
    #form-contacto .conjuntoCampos .inputgroup.active input,
    #form-contacto .conjuntoCampos .inputgroup.active textarea {
      background-color: #fff;
      border-bottom: 4px solid #de8843; }
  #form-contacto .contact-form__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #form-contacto .contact-form__button .botonEnviar {
      box-sizing: border-box;
      min-width: 100px;
      -webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
      width: 15%;
      color: #263150;
      text-decoration: none;
      font-family: "Mada", sans-serif;
      font-size: 2rem;
      font-weight: 500;
      margin-top: 4rem;
      background-color: #aed29b;
      border-radius: 15px;
      padding: 0.5rem;
      border: none;
      box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.5); }
      @media (min-width: 1281px) {
        #form-contacto .contact-form__button .botonEnviar {
          font-size: 2rem;
          padding: 0.9rem;
          width: 20%;
          min-width: 140px; } }

.container-all {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 30; }

.popUpConfirmacion {
  display: none;
  position: fixed;
  font-family: "Kanit", sans-serif;
  border: 5px solid #de8843;
  border-radius: 25px;
  width: 60%;
  height: 50%;
  padding: 3rem;
  background-color: white;
  z-index: 20;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.523);
  top: 40%;
  right: 20%; }
  @media (min-width: 1281px) {
    .popUpConfirmacion {
      width: 20%;
      height: 35%;
      padding: 3rem;
      right: 40%; } }
  .popUpConfirmacion h2 {
    font-size: 20px; }
    @media (min-width: 1281px) {
      .popUpConfirmacion h2 {
        font-size: 30px; } }
  .popUpConfirmacion h3 {
    font-size: 14px; }
    @media (min-width: 1281px) {
      .popUpConfirmacion h3 {
        font-size: 24px; } }
  .popUpConfirmacion .botonAceptar {
    color: #263150;
    text-decoration: none;
    font-family: "Mada", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: .3rem;
    background-color: #aed29b;
    border-radius: 15px;
    padding: 0.9rem;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5); }
    @media (min-width: 1281px) {
      .popUpConfirmacion .botonAceptar {
        margin-top: 3rem; } }

/* ------------- FORMULARIO SOLICITUD ------------- */
#formularioSolicitud {
  width: 100%;
  display: block; }
  @media (min-width: 1281px) {
    #formularioSolicitud {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; } }
  #formularioSolicitud .fondo {
    display: none; }
    @media (min-width: 1281px) {
      #formularioSolicitud .fondo {
        top: 90vw;
        right: 70vw;
        width: 940px;
        height: 400px;
        transform: rotate(-40deg);
        z-index: -1;
        bottom: 29vw;
        opacity: 0.10;
        background: #de8843;
        border-radius: 300px;
        position: absolute; } }
  #formularioSolicitud h1 {
    margin: 1rem;
    font-family: "Mada", sans-serif;
    font-size: 3rem;
    color: #263150;
    text-align: center; }
    @media (min-width: 1281px) {
      #formularioSolicitud h1 {
        margin: 4rem;
        font-size: 4rem; } }
  #formularioSolicitud form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Kanit", sans-serif;
    color: #263150; }
    #formularioSolicitud form .nombreTitular {
      font-size: 1.6rem;
      text-align: center;
      margin-top: 2rem; }
      @media (min-width: 1281px) {
        #formularioSolicitud form .nombreTitular {
          font-size: 2rem; } }
    #formularioSolicitud form #nombreUsuario {
      width: 60%;
      text-align: center;
      box-sizing: border-box;
      background-color: none;
      margin-top: 2rem;
      outline: none;
      resize: none;
      border: 0;
      transition: all .3s;
      border-bottom: 3px solid #263150; }
      @media (min-width: 1281px) {
        #formularioSolicitud form #nombreUsuario {
          width: 80%;
          padding: 10px;
          text-align: left;
          margin: 0; } }
      #formularioSolicitud form #nombreUsuario:focus {
        border-bottom: 2px solid #de8843; }
    #formularioSolicitud form .preguntasForm {
      margin: 4rem; }
      @media (min-width: 600px) {
        #formularioSolicitud form .preguntasForm {
          display: block;
          text-align: center; } }
      #formularioSolicitud form .preguntasForm label {
        font-size: 1.7rem;
        padding: 2rem;
        font-weight: 400; }
        @media (min-width: 1281px) {
          #formularioSolicitud form .preguntasForm label {
            font-size: 2rem;
            display: inline-block; } }
    #formularioSolicitud form .botonSolicitar {
      color: #263150;
      text-decoration: none;
      font-family: "Mada", sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
      margin-top: 1rem;
      background-color: #aed29b;
      border-radius: 15px;
      padding: 0.7rem;
      border: none;
      box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.5);
      z-index: 10; }
      @media (min-width: 1281px) {
        #formularioSolicitud form .botonSolicitar {
          font-size: 2rem;
          padding: 0.9rem;
          margin-top: 4rem; } }
  #formularioSolicitud #error {
    font-family: "Kanit", sans-serif;
    margin-top: 3rem;
    margin-right: 0;
    font-size: 1.5rem;
    text-align: center; }
    @media (min-width: 1281px) {
      #formularioSolicitud #error {
        margin-top: 5rem;
        font-size: 2rem; } }

/*----- OPCIONES DESPLEGABLES FORM -------*/
@keyframes textEnter {
  from {
    transform: translateX(100vw);
    opacity: 0.1; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.rule {
  margin: 10px 0;
  border: none;
  height: 1.5px;
  background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0); }

.sel {
  font-size: 1rem;
  display: inline-block;
  margin: 1em 2em;
  width: 270px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  border-bottom: 3px solid #263150bd; }
  @media (min-width: 1281px) {
    .sel {
      font-size: 1.1rem; } }
  .sel::before {
    position: absolute;
    content: '\f078';
    font-family: 'FontAwesome';
    font-size: 2em;
    color: #de8843;
    right: 20px;
    top: calc(50% - 0.5em); }

.sel.active::before {
  transform: rotateX(-180deg); }

.sel.active .sel__placeholder {
  visibility: hidden; }
  .sel.active .sel__placeholder::before {
    visibility: visible; }

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms; }

.sel__placeholder {
  display: block;
  font-family: "Kanit", sans-serif;
  font-size: 1.6rem;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible; }
  @media (min-width: 1281px) {
    .sel__placeholder {
      font-size: 2rem; } }
  .sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden; }

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  background-color: #FFF;
  width: calc(100% + 8px);
  box-sizing: border-box; }

.sel__box__options {
  display: list-item;
  font-family: "Kanit", sans-serif;
  font-size: 1.5em;
  color: #263150;
  padding: 0.5em 1em;
  user-select: none; }
  .sel__box__options::after {
    content: '\f121';
    font-family: 'FontAwesome';
    font-size: 0.5em;
    margin-left: 5px;
    display: none; }
  .sel__box__options:hover {
    background-color: #ebedef; }

.sel__box__options.selected::after {
  display: inline; }

.sel--black-panther {
  z-index: 13; }

.sel--superman {
  z-index: 12; }

/* ------------- CONTENIDO CARDS ------------- */
#contenidoPrincipal {
  display: none;
  height: auto; }
  #contenidoPrincipal .tituloTarjeta {
    font-family: "Mada", sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #263150;
    margin-bottom: 2rem; }
    @media (min-width: 1281px) {
      #contenidoPrincipal .tituloTarjeta {
        font-size: 4rem;
        margin-bottom: 2rem; } }
    #contenidoPrincipal .tituloTarjeta .spanColors {
      background-image: linear-gradient(to left, violet, #7937a9, #6eb85f, #2d2d9a, #e9e958, #eec26f, #ed6969);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      color: transparent; }
    #contenidoPrincipal .tituloTarjeta .spanGreen {
      color: #43a443; }
    #contenidoPrincipal .tituloTarjeta .spanGold {
      color: #c4a702; }
    #contenidoPrincipal .tituloTarjeta .spanPlatinum {
      color: grey; }
    #contenidoPrincipal .tituloTarjeta .spanBlack {
      color: black; }
  #contenidoPrincipal .marcaTarjeta {
    font-family: "Mada", sans-serif;
    font-size: 1.9rem;
    color: #263150;
    font-weight: 600;
    margin-bottom: 5rem; }
    @media (min-width: 1281px) {
      #contenidoPrincipal .marcaTarjeta {
        font-size: 2.5rem; } }

.infoTarjeta {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.cardColor {
  width: 320px;
  background-image: url(../img/youcolor.jpg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa, 1px 1px 2px #555;
  backdrop-filter: blur(0.8rem);
  padding: 1.5rem;
  border-radius: 1rem;
  animation: 2s cubic-bezier(0.16, 1, 0.3, 1) cardEnter; }
  @media (min-width: 1281px) {
    .cardColor {
      width: 400px; } }

.cardVerde {
  width: 320px;
  background-image: url(../img/green-background.jpeg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa, 1px 1px 2px #555;
  backdrop-filter: blur(0.8rem);
  padding: 1.5rem;
  border-radius: 1rem;
  animation: 2s cubic-bezier(0.16, 1, 0.3, 1) cardEnter; }
  @media (min-width: 1281px) {
    .cardVerde {
      width: 400px; } }

.cardPlateada {
  width: 320px;
  background-image: url(../img/platinum-background.jpeg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa, 1px 1px 2px #555;
  backdrop-filter: blur(0.8rem);
  padding: 1.5rem;
  border-radius: 1rem;
  animation: 1s cubic-bezier(0.16, 1, 0.3, 1) cardEnter; }
  @media (min-width: 1281px) {
    .cardPlateada {
      width: 400px; } }

.cardDorada {
  width: 320px;
  background-image: url(../img/gold-background.jpeg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa, 1px 1px 2px #555;
  backdrop-filter: blur(0.8rem);
  padding: 1.5rem;
  border-radius: 1rem;
  animation: 1s cubic-bezier(0.16, 1, 0.3, 1) cardEnter; }
  @media (min-width: 1281px) {
    .cardDorada {
      width: 400px; } }

.cardNegra {
  width: 320px;
  background-image: url(../img/black-background.jpg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa, 1px 1px 2px #555;
  backdrop-filter: blur(0.8rem);
  padding: 1.5rem;
  border-radius: 1rem;
  animation: 1s cubic-bezier(0.16, 1, 0.3, 1) cardEnter; }
  @media (min-width: 1281px) {
    .cardNegra {
      width: 400px; } }

.card__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0rem; }
  @media (min-width: 1281px) {
    .card__row {
      padding-bottom: 2rem; } }

.card__title {
  font-weight: 600;
  font-size: 2rem;
  color: #19191a95;
  margin: 1rem 0 1.5rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.66); }
  @media (min-width: 1281px) {
    .card__title {
      font-size: 2.5rem; } }

.card__col {
  padding-right: 2rem; }
  @media (min-width: 1281px) {
    .card__col {
      padding-right: 2rem; } }

.card__input {
  background: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
  @media (min-width: 1281px) {
    .card__input {
      font-size: 1.2rem; } }

.card__input--large {
  font-size: 1.8rem; }
  @media (min-width: 1281px) {
    .card__input--large {
      font-size: 2rem; } }

.card__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: none; }

.card__input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.6); }

.card__label {
  display: block;
  color: #171515;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  font-weight: 400; }

.card__chip {
  align-self: flex-end; }

.card__chip img {
  width: 4rem; }
  @media (min-width: 1281px) {
    .card__chip img {
      width: 5rem; } }

.card__brand img {
  width: 4rem;
  height: 4rem; }
  @media (min-width: 1281px) {
    .card__brand img {
      width: 5rem;
      height: 5rem; } }

@keyframes cardEnter {
  from {
    transform: translateY(100vh);
    opacity: 0.1; }
  to {
    transform: translateY(0);
    opacity: 1; } }

.caracteristicasTarjeta {
  animation: 2s cubic-bezier(0.16, 1, 0.3, 1) textEnter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem; }
  .caracteristicasTarjeta .contenedorCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;
    width: 100%; }
    @media (min-width: 1281px) {
      .caracteristicasTarjeta .contenedorCards {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5rem; } }
    .caracteristicasTarjeta .contenedorCards .cardBeneficios {
      display: inline-block;
      width: 120px;
      text-align: center;
      margin: 3rem; }
      @media (min-width: 1281px) {
        .caracteristicasTarjeta .contenedorCards .cardBeneficios {
          width: 190px;
          text-align: center;
          margin: 3rem; } }
    .caracteristicasTarjeta .contenedorCards .imgCard {
      height: 140px;
      width: 120px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px; }
      @media (min-width: 1281px) {
        .caracteristicasTarjeta .contenedorCards .imgCard {
          height: 145px;
          width: 190px; } }
    .caracteristicasTarjeta .contenedorCards .imgCard img {
      height: 80px; }
      @media (min-width: 1281px) {
        .caracteristicasTarjeta .contenedorCards .imgCard img {
          height: 120px; } }
    .caracteristicasTarjeta .contenedorCards .contenedorTexto {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      padding: 55px 0px 0px 0px;
      border-radius: 20px;
      background: #fff;
      margin: -120px 0px 0px 0px;
      line-height: 19px;
      font-size: 14px;
      height: 135px; }
      @media (min-width: 1281px) {
        .caracteristicasTarjeta .contenedorCards .contenedorTexto {
          padding: 95px 10px 0px 10px;
          font-size: 14px;
          height: 180px; } }
    .caracteristicasTarjeta .contenedorCards .contenedorTexto h3 {
      margin: 20px 0px 10px 0px;
      color: #263150;
      font-size: 14px;
      font-family: "Kanit", sans-serif; }
      @media (min-width: 1281px) {
        .caracteristicasTarjeta .contenedorCards .contenedorTexto h3 {
          font-size: 16px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ffffff;
  color: #2e2b2b;
  /* ------------- MAIN ------------- */
  /* ------------- QUIENES SOMOS ------------- */ }
  body .inicio {
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5rem;
    background-image: url(../img/7849.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom; }
    @media (min-width: 600px) {
      body .inicio {
        height: 40vh;
        width: 100vw;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        background-image: url(../img/7849.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        margin-left: 2rem; } }
    @media (min-width: 1281px) {
      body .inicio {
        height: 80vh;
        width: 95%;
        background-image: url(../img/7849.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        display: flex;
        align-items: flex-start;
        justify-content: left;
        margin-left: 0; } }
    body .inicio .fondo {
      display: none; }
      @media (min-width: 1281px) {
        body .inicio .fondo {
          top: -7vw;
          right: 50vw;
          width: 1400px;
          height: 500px;
          transform: rotate(-140deg);
          z-index: 1;
          bottom: 29vw;
          opacity: 0.10;
          background: #4b77c4;
          border-radius: 300px;
          position: absolute; } }
    body .inicio .tituloPrincipal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1; }
      @media (min-width: 1281px) {
        body .inicio .tituloPrincipal {
          width: 55%;
          height: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 1; } }
      body .inicio .tituloPrincipal h1 {
        font-family: "Maitree", serif;
        color: #263150;
        font-size: 5.5rem;
        font-weight: 900; }
        @media (min-width: 1281px) {
          body .inicio .tituloPrincipal h1 {
            font-family: "Maitree", serif;
            color: #263150;
            font-size: 8rem;
            font-weight: 900; } }
      body .inicio .tituloPrincipal h2 {
        font-family: "Mada", sans-serif;
        color: #de8843;
        font-size: 20px; }
        @media (min-width: 1281px) {
          body .inicio .tituloPrincipal h2 {
            font-size: 30px; } }
      body .inicio .tituloPrincipal .botonTarjeta {
        color: #263150;
        text-decoration: none;
        font-family: "Mada", sans-serif;
        font-size: 1.9rem;
        font-weight: 500;
        margin-top: 3rem;
        background-color: #aed29b;
        border-radius: 15px;
        padding: 0.5rem;
        box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.5); }
        @media (min-width: 1281px) {
          body .inicio .tituloPrincipal .botonTarjeta {
            font-size: 2.2rem;
            padding: 0.9rem; } }
  body #quienesSomos {
    margin: 0;
    color: #263150; }
    @media (min-width: 1281px) {
      body #quienesSomos {
        margin: 6rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; } }
    body #quienesSomos .presentacion {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      body #quienesSomos .presentacion h1 {
        font-family: "Mada", sans-serif;
        font-size: 3.2rem;
        margin: 2rem; }
        @media (min-width: 1281px) {
          body #quienesSomos .presentacion h1 {
            font-size: 4rem; } }
      body #quienesSomos .presentacion p {
        width: 95%;
        text-align: center;
        font-family: "Kanit", sans-serif;
        font-size: 1.6rem; }
        @media (min-width: 600px) {
          body #quienesSomos .presentacion p {
            width: 65%; } }
        @media (min-width: 1281px) {
          body #quienesSomos .presentacion p {
            width: 40%;
            font-size: 2rem; } }
    body #quienesSomos .beneficios {
      display: block;
      width: 90%; }
      @media (min-width: 600px) {
        body #quienesSomos .beneficios {
          display: flex;
          justify-content: center;
          width: 100%;
          align-items: center; } }
      @media (min-width: 1281px) {
        body #quienesSomos .beneficios {
          display: flex;
          justify-content: center;
          width: 80%;
          align-items: center;
          flex-direction: row; } }
      body #quienesSomos .beneficios-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        margin: 2rem;
        text-align: center; }
        @media (min-width: 600px) {
          body #quienesSomos .beneficios-card {
            width: 55%;
            text-align: center; } }
        @media (min-width: 1281px) {
          body #quienesSomos .beneficios-card {
            width: 40%;
            padding: 2rem;
            margin: 4rem;
            text-align: center; } }
        body #quienesSomos .beneficios-card .imgBeneficios {
          height: 80px;
          width: 80px; }
          @media (min-width: 1281px) {
            body #quienesSomos .beneficios-card .imgBeneficios {
              height: 120px;
              width: 120px; } }
        body #quienesSomos .beneficios-card h3 {
          color: #de8843;
          font-size: 2rem; }
          @media (min-width: 1281px) {
            body #quienesSomos .beneficios-card h3 {
              font-size: 24px; } }
        body #quienesSomos .beneficios-card p {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 2.4rem; }
          @media (min-width: 1281px) {
            body #quienesSomos .beneficios-card p {
              font-size: 1.6rem;
              line-height: 2.6rem; } }
